

.ov-header{

    padding:10px;
    width:260px;

    &__nav{

        width:240px;
        height:120px;    
        color:#fff;
        background-color:rgba(0,0,0, 1);        

        &__primary{
     
            width:100%;
            display: flex;

            &__logo{

                flex:200px;
                text-align: center;

                h1{

                    font-size:38px;
                    line-height:80px;
                    margin:0;
                    font-family: 'VT323', monospace;
                    
                    a{
                        text-decoration: none;
                    }
                }
            }

            &__profile{
                
                flex:40px;            

                ul, ol{

                    flex-direction: column;
                    
                    li{

                        img{
                            margin-top:-6px;
                        }                        
                    
                    }
                }       

            }
        }

        &__secondary{

            width:100%;
           
        }        

    }    

    &__console{
   
        width:100%;
        min-height:40px;
        border-width:1px;
        border-top-width:0px;
        background-color:#000;
        font-family: 'VT323', monospace;
        font-size:22px;
        line-height:40px;
        padding:0 10px;
        text-align: right;

    }

}