$fontColor:#d000ab;

.ov-about-me{

    background:#000;
    border:1px solid $fontColor;
    width:100%;
    

    img {
        width:100%;
        height:auto;
    }
    

    &__content{

        text-align:right;
        padding:10px;

        h2, h3{
            font-size:22px;        
        }

        p{
            font-size:12px;
            margin-top:10px;
            margin-bottom:0;
        }
    }

}